.banner {
	background-image: url("../images/trainBG1.jpeg");
	background-color: Gray;
	opacity: .4;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-color: ;
	width: 100%;
	height: 200px;
}

.bannerText {
	position: absolute;
	top: 50px;
	left: 0px;
	z-index: 2;
	color: Black;
	text-align: center;
	width: 100%;
	height: 200px;
}

.bannerText h1 {
	font-size: 80px;
}

.divTrainSchedule {
	background-color: Black;
	color: Purple;
}